:root {
	--color-primary-cyan: hsl(158, 36%, 37%);
	--color-primary-cream: hsl(30, 38%, 92%);
	--color-neutral-darkblue: hsl(212, 21%, 14%);
	--color-neutral-grayblue: hsl(228, 12%, 48%);
	--color-neutral-white: hsl(0, 0%, 100%);
	--color-hover-cyan: hsl(158, 36%, 30%);
}

body {
	margin: 0;
	background-color: var(--color-primary-cream);
	display: flex;
	justify-content: center;
	align-items: center;
}

.productCard {
	width: 346px;
	margin: 3rem 1rem;
	background-color: var(--color-neutral-white);
	display: flex;
	flex-flow: column;
	border-radius: 10px;
	font-size: 0;
}

.imageContainer img {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.productDetailsContainer {
	padding: 0 24px;
}

.categoryTitle {
	text-transform: uppercase;
	color: var(--color-neutral-grayblue);
	font-size: 1rem;
	font-weight: 500;
}

.productTitle {
	margin: 0;
	font-size: 2.2rem;
	line-height: 0.9;
}

.productDescription {
	line-height: 1.5;
	margin-bottom: 32px;
}

.priceContainer {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.priceCurrent {
	font-size: 2.5rem;
	font-weight: 700;
	color: var(--color-primary-cyan);
	margin-right: 24px;
}

.priceOld {
	font-size: 1rem;
	color: var(--color-neutral-grayblue);
}

.addToCartButton {
	width: 100%;
	margin: 16px 0 24px;
	font-size: 1.2rem;
	padding: 12px 16px;
	color: var(--color-neutral-white);
	border-radius: 8px;
	background-color: var(--color-primary-cyan);
	border: none;
	cursor: pointer;
}

.addToCartButton:hover {
	background-color: var(--color-hover-cyan);
}

.addToCartButton:active {
	background-color: var(--color-hover-cyan);
	transform: scale(0.95);
}

/* Desktop styles  */
@media only screen and (min-width: 768px) {
	.productCard {
		width: 600px;
		height: 450px;
		display: flex;
		flex-flow: row;
	}

	.imageContainer {
		width: 50%;
	}

	.imageContainer img {
		height: 100%;
		border-radius: 10px 0 0 10px;
	}

	.productDetailsContainer {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		width: 50%;
		padding: 24px;
		box-sizing: border-box;
		/* margin: 0 24px; */
	}

	.productDescription {
		font-size: 1rem;
	}
}
